.THIS {
  .swiper-wrapper {
    position: relative;
    .info-wrap {
      color: #fff;
      z-index: 99;
      width: 420px;
      max-height: 330px;
      min-height: 250px;
      position: absolute;
      background: #000;
      opacity: 0.6;
      right: 104px;
      top: 170px;
      padding: 18px;

      h1 {
        font-size: 20px;
        font-weight: 900;
        margin-top: 20px;
        margin-bottom: 28px;
      }

      p {
        line-height: 22px;
      }
    }
  }

  .swiper-pagination {
    .swiper-pagination-bullet-active {
      background: #db536a !important;
    }

    .swiper-pagination-bullet {
      width: 12px !important;
      height: 12px !important;
    }
  }

  .background_fill {
    overflow: hidden;
    position: relative;
    color: red;
  }
  .background_fill:before {
    background-color: white;
    background-size: cover;
    z-index: -3;
    content: " ";
    position: fixed;
    background: url('http://www.lausanneworldpulse.com/pdfs/brierley_map_0507.jpg') no-repeat center center;
    will-change: transform;
    width: 100%;
    height: 100%;
  }
}

